# Dependencies
node_modules/
frontend/node_modules/

# Environment variables
.env
backend/.env

# Firebase credentials
backend/src/config/firebase-credentials.json

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build files
frontend/build/
dist/

# Testing
coverage/
